<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kjj.commserver.sqlmaps.special.OrgSpecialFloorProductMapper" >
  <resultMap id="BaseResultMap" type="com.kjj.commserver.entity.special.OrgSpecialFloorProduct" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="floor_id" property="floorId" jdbcType="INTEGER" />
    <result column="special_id" property="specialId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="image_path" property="imagePath" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, floor_id, special_id, goods_id, image_path, url, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from org_special_floor_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from org_special_floor_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kjj.commserver.entity.special.OrgSpecialFloorProduct" useGeneratedKeys="true" keyColumn="id" keyProperty="id" >
    insert into org_special_floor_product (floor_id, special_id, goods_id, 
      image_path, url, type
      )
    values (#{floorId,jdbcType=INTEGER}, #{specialId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, 
      #{imagePath,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}
      )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kjj.commserver.entity.special.OrgSpecialFloorProduct" >
    update org_special_floor_product
    <set >
      <if test="floorId != null" >
        floor_id = #{floorId,jdbcType=INTEGER},
      </if>
      <if test="specialId != null" >
        special_id = #{specialId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="imagePath != null" >
        image_path = #{imagePath,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kjj.commserver.entity.special.OrgSpecialFloorProduct" >
    update org_special_floor_product
    set floor_id = #{floorId,jdbcType=INTEGER},
      special_id = #{specialId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      image_path = #{imagePath,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectVoByPrimaryKey" parameterType="java.util.Map" resultMap="VoResultMap" >
    select 
    <include refid="Vo_Column_List" />
    from org_special_floor_product t
    <include refid="Table_Join_Clause" />
    where t.id = #{id,jdbcType=INTEGER}
  </select>
  <sql id="Query_Where_Clause" >
    <where >
      <if test="id != null" >
          and t.id = #{id,jdbcType=INTEGER}
      </if>
      <if test="floorId != null" >
          and t.floor_id = #{floorId,jdbcType=INTEGER}
      </if>
      <if test="specialId != null" >
          and t.special_id = #{specialId,jdbcType=INTEGER}
      </if>
      <if test="goodsId != null" >
          and t.goods_id = #{goodsId,jdbcType=INTEGER}
      </if>
      <if test="imagePath != null" >
          and t.image_path = #{imagePath,jdbcType=VARCHAR}
      </if>
      <if test="url != null" >
          and t.url = #{url,jdbcType=VARCHAR}
      </if>
      <if test="type != null" >
          and t.type = #{type,jdbcType=TINYINT}
      </if>
       <include refid="Vo_Where_Clause" />
    </where>
     <if test="sorting != null" >
       order by ${sorting},t.id desc
    </if>
  </sql>
  <select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Long" >
    select count(t.id) from org_special_floor_product t
    <include refid="Table_Join_Clause" />
    <include refid="Query_Where_Clause" />
  </select>
  <select id="select" parameterType="java.util.Map" resultMap="VoResultMap" >
    select 
    <include refid="Vo_Column_List" />
    from org_special_floor_product t
    <include refid="Table_Join_Clause" />
    <include refid="Query_Where_Clause" />
  </select>
  <delete id="delete" parameterType="java.util.Map" >
    delete from org_special_floor_product where id in (
    select t.id from (select * from org_special_floor_product) t
    <include refid="Table_Join_Clause" />
    <include refid="Query_Where_Clause" />
    )
  </delete>
  <!--  ************************expand your SQL below the line***********************  -->
  <resultMap id="VoResultMap" type="com.kjj.commserver.entity.special.aide.OrgSpecialFloorProductVo" extends="BaseResultMap" >
    <association property="productItem" javaType="com.kjj.commserver.entity.goods.aide.OrgProductItemVo"> 
        <result column="goods_thumb" property="goodsThumb" jdbcType="VARCHAR" />
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
     </association>
  </resultMap>
  <sql id="Vo_Column_List" >
    t.id, 
    t.floor_id, 
    t.special_id, 
    t.goods_id, 
    t.image_path, 
    t.url, 
    t.type,
    opi.goods_thumb,
    opi.goods_name
     <!-- ,alias.field -->
  </sql>
  <sql id="Vo_Where_Clause" >
      <if test="isOnSale != null" >
          and op.is_on_sale = #{isOnSale,jdbcType=TINYINT}
      </if>
      <if test="isDelete != null" >
          and opi.is_delete = #{isDelete,jdbcType=TINYINT}
      </if>
  </sql>
  <sql id="Table_Join_Clause" >
    left join org_product_item opi on t.goods_id=opi.goods_id
    left join org_product op on op.goods_id = opi.parent_goods_id
  </sql>
</mapper>