@charset "utf-8";
.w1190{
	width: 1190px;
	margin: 0px auto;
}
.yc{
	color: #ffaa00;
}
.logo.logo_new{
	.logo_set_title{
		position: absolute;
	    font-size: 18px;
	    color: #666;
	    top: 40px;
	    left: 118px;
	}
}
.header.reverse_header{
	height: 112px;
	padding-top: 0px;
	display: block;
	.logo{
		height: 110px;
		padding-top: 19px;
	}
}
.new_set_nav{
	float: left;
	height: 112px;
	min-width: 500px;
	.nav_list{
		width: 152px;
		height: 100%;
		float: left;
		a{
			height: 72px;
		    width: 152px;
		    display: block;
		    text-align: center;
		    color: #333;
		    font-size: 16px;
		    padding-top: 46px;
		 &:hover{
		 	background: #ffaa00;
		 	color: #fff;
		 }
		 &:hover .toggle_nav_icon{
		 	width: 12px;
		height: 8px;
		background: url(../img/icon/sg_03.png) no-repeat center;
		display: inline-block;
		top: -4px;
    	left: 4px;
    	position: relative;
		 }
		 .bottom_nav_span{
		 	    height: 20px;
		    position: relative;
		    bottom: 5px;

		 }
		 &:hover .toggle_set_bottom{
		 	display: block;
		 }
		}
	.toggle_nav_icon{
		width: 12px;
		height: 8px;
		background: url(../img/icon/sg_05.png) no-repeat center;
		display: inline-block;
		top: -4px;
    	left: 4px;
    	position: relative;
	}
	.toggle_set_bottom{
		background: #fff;
		display: none;
		p{
			height: 44px;
			line-height: 44px;
			text-align: center;
			border-bottom: 1px solid #e6e6e6;
			font-size: 14px;
			color: #666;
			margin-bottom: 0px;
			&:hover{
				color: #ffaa00;
			}
		}
	}
	&.on{
		background: #ffaa00;
	}
	&.special{
		line-height: 106px;
		text-align: center;
		font-size: 16px;
		color: #333;
	}
	}
}
.sign_up_title{
	.w1190;
	h5{
		width: 100%;
		height: 54px;
		line-height: 54px;
		padding-left: 0px;
	}
	.set_yellow{
		font-size: 14px;
		color: #ffaa00;
	}
}
//
.secure_item.enlist{
	height: 290px;
	.secure_leftimg{
		width: 360px;
		height: 270px;
	}
	.control_p_height{
		height: 60px;
		line-height: 20px;
		overflow: hidden;

		margin-bottom: 60px;

	}
	.secure_i_left{
		padding-left: 360px;
	}
	.secure_i_right{
		padding-left: 10px;
		a{
			width: 220px;
			margin-top: 10px;
		&.gray_color_set{
			color: #fdfdfd;
			background: #bebebe;
		}
		}
	}
	.secure_content{

	}
	.sign_item_bottomp{
		width: 100%;
		font-size: 14px;
		color: #999;
		.set_yellow{
			color: #ffaa00;
		}
	}

}
//
.sign_up_time{
	    width: 100%;
    min-height: 30px;
    font-size: 12px;
    color: #999;
    margin: 20px 0px;
    margin-bottom: 80px;
	.time{
		width: 28px;
		height: 34px;
		display: inline-block;
		border: 1px solid #c8c8c8;
		font-size: 18px;
		color: #c80000;
		font-family: Arial;
		text-align: center;line-height: 34px;
		font-weight: bold;
	}
	.maohao{
		width: 3px;
		height: 11px;
		display: inline-block;
		background: url(../img/icon/sg_10.png) no-repeat center;
		margin: 0px 4px;
	}
	&.no{
		.time{
			color: #999;
		}
	}
}
//
.sign_up_detail{
	width: 100%;
	background: #fff;
	min-height: 50px;
	h5{
		width: 100%;
		height: 40px;
		line-height: 40px;
		border-bottom: 1px solid #f5f5f5;
		position: relative;
		span{
			display: inline-block;
			min-width: 80px;
			border-bottom: 1px solid #ffaa00;
			margin-top: -1px;
			text-align: center;
		}
		a{
			width: 230px;
			height: 40px;
			float: right;
			text-align: center;line-height: 40px;
			color: #fff;
			background: #ffaa00;
		}
	}
	.sign_up_detail_content{
		width: 100%;
		padding: 10px;

	img{
		width: 100%;
		margin-bottom: 10px;
		}
	}
}
.sign_up_detail.fix h5{
	position: fixed;
	top: 0px;
	width: 1190px;
	background: #fff;
}