<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kjj.commserver.sqlmaps.activity.OrgActivityDialitemMapper" >
  <resultMap id="BaseResultMap" type="com.kjj.commserver.entity.activity.OrgActivityDialitem" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="activity_id" property="activityId" jdbcType="INTEGER" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="item_type" property="itemType" jdbcType="TINYINT" />
    <result column="item_prize_id" property="itemPrizeId" jdbcType="INTEGER" />
    <result column="item_prize_name" property="itemPrizeName" jdbcType="VARCHAR" />
    <result column="thumb" property="thumb" jdbcType="VARCHAR" />
    <result column="item_num" property="itemNum" jdbcType="SMALLINT" />
    <result column="remain_num" property="remainNum" jdbcType="SMALLINT" />
    <result column="lock_num" property="lockNum" jdbcType="SMALLINT" />
    <result column="item_order" property="itemOrder" jdbcType="SMALLINT" />
    <result column="item_rate" property="itemRate" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, activity_id, item_name, item_type, item_prize_id, item_prize_name, thumb, item_num, 
    remain_num, lock_num, item_order, item_rate, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from org_activity_dialitem
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from org_activity_dialitem
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kjj.commserver.entity.activity.OrgActivityDialitem" useGeneratedKeys="true" keyColumn="id" keyProperty="id" >
    insert into org_activity_dialitem (activity_id, item_name, item_type, 
      item_prize_id, item_prize_name, thumb, 
      item_num, remain_num, lock_num, 
      item_order, item_rate, status
      )
    values (#{activityId,jdbcType=INTEGER}, #{itemName,jdbcType=VARCHAR}, #{itemType,jdbcType=TINYINT}, 
      #{itemPrizeId,jdbcType=INTEGER}, #{itemPrizeName,jdbcType=VARCHAR}, #{thumb,jdbcType=VARCHAR}, 
      #{itemNum,jdbcType=SMALLINT}, #{remainNum,jdbcType=SMALLINT}, #{lockNum,jdbcType=SMALLINT}, 
      #{itemOrder,jdbcType=SMALLINT}, #{itemRate,jdbcType=BIGINT}, #{status,jdbcType=TINYINT}
      )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kjj.commserver.entity.activity.OrgActivityDialitem" >
    update org_activity_dialitem
    <set >
      <if test="activityId != null" >
        activity_id = #{activityId,jdbcType=INTEGER},
      </if>
      <if test="itemName != null" >
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemType != null" >
        item_type = #{itemType,jdbcType=TINYINT},
      </if>
      <if test="itemPrizeId != null" >
        item_prize_id = #{itemPrizeId,jdbcType=INTEGER},
      </if>
      <if test="itemPrizeName != null" >
        item_prize_name = #{itemPrizeName,jdbcType=VARCHAR},
      </if>
      <if test="thumb != null" >
        thumb = #{thumb,jdbcType=VARCHAR},
      </if>
      <if test="itemNum != null" >
        item_num = #{itemNum,jdbcType=SMALLINT},
      </if>
      <if test="remainNum != null" >
        remain_num = #{remainNum,jdbcType=SMALLINT},
      </if>
      <if test="lockNum != null" >
        lock_num = #{lockNum,jdbcType=SMALLINT},
      </if>
      <if test="itemOrder != null" >
        item_order = #{itemOrder,jdbcType=SMALLINT},
      </if>
      <if test="itemRate != null" >
        item_rate = #{itemRate,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kjj.commserver.entity.activity.OrgActivityDialitem" >
    update org_activity_dialitem
    set activity_id = #{activityId,jdbcType=INTEGER},
      item_name = #{itemName,jdbcType=VARCHAR},
      item_type = #{itemType,jdbcType=TINYINT},
      item_prize_id = #{itemPrizeId,jdbcType=INTEGER},
      item_prize_name = #{itemPrizeName,jdbcType=VARCHAR},
      thumb = #{thumb,jdbcType=VARCHAR},
      item_num = #{itemNum,jdbcType=SMALLINT},
      remain_num = #{remainNum,jdbcType=SMALLINT},
      lock_num = #{lockNum,jdbcType=SMALLINT},
      item_order = #{itemOrder,jdbcType=SMALLINT},
      item_rate = #{itemRate,jdbcType=BIGINT},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectVoByPrimaryKey" parameterType="java.util.Map" resultMap="VoResultMap" >
    select 
    <include refid="Vo_Column_List" />
    from org_activity_dialitem t
    <include refid="Table_Join_Clause" />
    where t.id = #{id,jdbcType=INTEGER}
  </select>
  <sql id="Query_Where_Clause" >
    <where >
      <if test="id != null" >
          and t.id = #{id,jdbcType=INTEGER}
      </if>
      <if test="activityId != null" >
          and t.activity_id = #{activityId,jdbcType=INTEGER}
      </if>
      <if test="itemName != null" >
          and t.item_name = #{itemName,jdbcType=VARCHAR}
      </if>
      <if test="itemType != null" >
          and t.item_type = #{itemType,jdbcType=TINYINT}
      </if>
      <if test="itemPrizeId != null" >
          and t.item_prize_id = #{itemPrizeId,jdbcType=INTEGER}
      </if>
      <if test="itemPrizeName != null" >
          and t.item_prize_name = #{itemPrizeName,jdbcType=VARCHAR}
      </if>
      <if test="thumb != null" >
          and t.thumb = #{thumb,jdbcType=VARCHAR}
      </if>
      <if test="itemNum != null" >
          and t.item_num = #{itemNum,jdbcType=SMALLINT}
      </if>
      <if test="remainNum != null" >
          and t.remain_num = #{remainNum,jdbcType=SMALLINT}
      </if>
      <if test="lockNum != null" >
          and t.lock_num = #{lockNum,jdbcType=SMALLINT}
      </if>
      <if test="itemOrder != null" >
          and t.item_order = #{itemOrder,jdbcType=SMALLINT}
      </if>
      <if test="itemRate != null" >
          and t.item_rate = #{itemRate,jdbcType=BIGINT}
      </if>
      <if test="status != null" >
          and t.status = #{status,jdbcType=TINYINT}
      </if>
      <include refid="Vo_Where_Clause" />
    </where>
    <if test="sorting != null" >
      order by ${sorting},t.id desc
    </if>
  </sql>
  <select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Long" >
    select count(t.id) from org_activity_dialitem t
    <include refid="Table_Join_Clause" />
    <include refid="Query_Where_Clause" />
  </select>
  <select id="select" parameterType="java.util.Map" resultMap="VoResultMap" >
    select 
    <include refid="Vo_Column_List" />
    from org_activity_dialitem t
    <include refid="Table_Join_Clause" />
    <include refid="Query_Where_Clause" />
  </select>
  <delete id="delete" parameterType="java.util.Map" >
    delete from org_activity_dialitem where id in (
    select t.id from (select * from org_activity_dialitem) t
    <include refid="Table_Join_Clause" />
    <include refid="Query_Where_Clause" />
    )
  </delete>
  <!--  ************************expand your SQL below the line***********************  -->
  <resultMap id="VoResultMap" type="com.kjj.commserver.entity.activity.aide.OrgActivityDialitemVo" extends="BaseResultMap" >
    <!--  <association property="beanName" javaType="beanVoFullyQualifiedName">  -->
    <!--  <result column="dbField" property="beanField" jdbcType="dbFieldStyle" /> -->
    <!--  </association> -->
  </resultMap>
  <sql id="Vo_Column_List" >
    t.id, 
    t.activity_id, 
    t.item_name, 
    t.item_type, 
    t.item_prize_id, 
    t.item_prize_name, 
    t.thumb, 
    t.item_num, 
    t.remain_num, 
    t.lock_num, 
    t.item_order, 
    t.item_rate, 
    t.status
     <!-- ,alias.field -->
  </sql>
  <sql id="Vo_Where_Clause" >
    <!-- <if test="queryBeanField != null" > -->
    <!-- and dbField = #{queryBeanField,jdbcType=dbFieldStyle} -->
    <!-- </if> -->
  </sql>
  <sql id="Table_Join_Clause" >
    <!-- left join tableName tn on t.primaryKey=tn.foreignKey -->
  </sql>
</mapper>