<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kjj.commserver.sqlmaps.discount.OrgLimitTimeRecordMapper" >
  <resultMap id="BaseResultMap" type="com.kjj.commserver.entity.discount.OrgLimitTimeRecord" >
    <id column="record_id" property="recordId" jdbcType="INTEGER" />
    <result column="ltg_id" property="ltgId" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    record_id, ltg_id, order_id, city_code, shop_id, user_id, amount, price, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from org_limit_time_record
    where record_id = #{recordId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from org_limit_time_record
    where record_id = #{recordId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kjj.commserver.entity.discount.OrgLimitTimeRecord" useGeneratedKeys="true" keyColumn="record_id" keyProperty="recordId" >
    insert into org_limit_time_record (ltg_id, order_id, city_code, 
      shop_id, user_id, amount, 
      price, create_time)
    values (#{ltgId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{cityCode,jdbcType=VARCHAR}, 
      #{shopId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{amount,jdbcType=INTEGER}, 
      #{price,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kjj.commserver.entity.discount.OrgLimitTimeRecord" >
    update org_limit_time_record
    <set >
      <if test="ltgId != null" >
        ltg_id = #{ltgId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="cityCode != null" >
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where record_id = #{recordId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kjj.commserver.entity.discount.OrgLimitTimeRecord" >
    update org_limit_time_record
    set ltg_id = #{ltgId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER},
      city_code = #{cityCode,jdbcType=VARCHAR},
      shop_id = #{shopId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      amount = #{amount,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where record_id = #{recordId,jdbcType=INTEGER}
  </update>
  <resultMap id="VoResultMap" type="com.kjj.commserver.entity.discount.aide.OrgLimitTimeRecordVo" extends="BaseResultMap" />
  <sql id="Vo_Column_List" >
    t.record_id, 
    t.ltg_id, 
    t.order_id, 
    t.city_code, 
    t.shop_id, 
    t.user_id, 
    t.amount, 
    t.price, 
    t.create_time
  </sql>
  <select id="selectVoByPrimaryKey" parameterType="java.util.Map" resultMap="VoResultMap" >
    select 
    <include refid="Vo_Column_List" />
    from org_limit_time_record t
    where t.record_id = #{recordId,jdbcType=INTEGER}
  </select>
  <sql id="Query_Where_Clause" >
    <where >
      <if test="recordId != null" >
          and t.record_id = #{recordId,jdbcType=INTEGER}
      </if>
      <if test="ltgId != null" >
          and t.ltg_id = #{ltgId,jdbcType=INTEGER}
      </if>
      <if test="orderId != null" >
          and t.order_id = #{orderId,jdbcType=INTEGER}
      </if>
      <if test="cityCode != null" >
          and t.city_code = #{cityCode,jdbcType=VARCHAR}
      </if>
      <if test="shopId != null" >
          and t.shop_id = #{shopId,jdbcType=INTEGER}
      </if>
      <if test="userId != null" >
          and t.user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="amount != null" >
          and t.amount = #{amount,jdbcType=INTEGER}
      </if>
      <if test="price != null" >
          and t.price = #{price,jdbcType=DECIMAL}
      </if>
      <if test="createTime != null" >
          and t.create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
    </where>
    <if test="sorting != null" >
      order by ${sorting},t.record_id desc
    </if>
  </sql>
  <select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Long" >
    select count(t.record_id) from org_limit_time_record t
    <include refid="Query_Where_Clause" />
  </select>
  <select id="select" parameterType="java.util.Map" resultMap="VoResultMap" >
    select 
    <include refid="Vo_Column_List" />
    from org_limit_time_record t
    <include refid="Query_Where_Clause" />
  </select>
  <delete id="delete" parameterType="java.util.Map" >
    delete from org_limit_time_record where record_id in (
    select t.record_id from (select * from org_limit_time_record) t
    <include refid="Query_Where_Clause" />
    )
  </delete>
</mapper>