<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kjj.commserver.sqlmaps.discount.OrgReachConditionMapper" >
  <resultMap id="BaseResultMap" type="com.kjj.commserver.entity.discount.OrgReachCondition" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="reach_id" property="reachId" jdbcType="INTEGER" />
    <result column="reach_condition" property="reachCondition" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, reach_id, reach_condition
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from org_reach_condition
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from org_reach_condition
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kjj.commserver.entity.discount.OrgReachCondition" useGeneratedKeys="true" keyColumn="id" keyProperty="id" >
    insert into org_reach_condition (reach_id, reach_condition
      )
    values (#{reachId,jdbcType=INTEGER}, #{reachCondition,jdbcType=DECIMAL}
      )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kjj.commserver.entity.discount.OrgReachCondition" >
    update org_reach_condition
    <set >
      <if test="reachId != null" >
        reach_id = #{reachId,jdbcType=INTEGER},
      </if>
      <if test="reachCondition != null" >
        reach_condition = #{reachCondition,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kjj.commserver.entity.discount.OrgReachCondition" >
    update org_reach_condition
    set reach_id = #{reachId,jdbcType=INTEGER},
      reach_condition = #{reachCondition,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="VoResultMap" type="com.kjj.commserver.entity.discount.aide.OrgReachConditionVo" extends="BaseResultMap" />
  <sql id="Vo_Column_List" >
    t.id, 
    t.reach_id, 
    t.reach_condition
  </sql>
  <select id="selectVoByPrimaryKey" parameterType="java.util.Map" resultMap="VoResultMap" >
    select 
    <include refid="Vo_Column_List" />
    from org_reach_condition t
    where t.id = #{id,jdbcType=INTEGER}
  </select>
  <sql id="Query_Where_Clause" >
    <where >
      <if test="id != null" >
          and t.id = #{id,jdbcType=INTEGER}
      </if>
      <if test="reachId != null" >
          and t.reach_id = #{reachId,jdbcType=INTEGER}
      </if>
      <if test="reachCondition != null" >
          and t.reach_condition = #{reachCondition,jdbcType=DECIMAL}
      </if>
    </where>
    <if test="sorting != null" >
      order by ${sorting},t.id desc
    </if>
  </sql>
  <select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Long" >
    select count(t.id) from org_reach_condition t
    <include refid="Query_Where_Clause" />
  </select>
  <select id="select" parameterType="java.util.Map" resultMap="VoResultMap" >
    select 
    <include refid="Vo_Column_List" />
    from org_reach_condition t
    <include refid="Query_Where_Clause" />
  </select>
  <delete id="delete" parameterType="java.util.Map" >
    delete from org_reach_condition where id in (
    select t.id from (select * from org_reach_condition) t
    <include refid="Query_Where_Clause" />
    )
  </delete>
</mapper>