<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

	<!-- 自动扫描注解 -->
	<context:component-scan base-package="com.kjj.touch"/>
	
	<!-- 默认的注解映射的支持 --> 
	<mvc:annotation-driven/>
	
	<!-- 对静态资源文件的访问  -->  
    <mvc:default-servlet-handler/>

	<!-- 视图解释类 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

 	<mvc:interceptors>
 		<mvc:interceptor>
 			<mvc:mapping path="/**"/>
 			<mvc:exclude-mapping path="/"/>
 			<mvc:exclude-mapping path="/home"/>
 			<mvc:exclude-mapping path="/error"/>
 			<mvc:exclude-mapping path="/getShopList"/>
 			<bean class="com.kjj.touch.web.interceptor.AllRoundInterceptor"/>
 		</mvc:interceptor>
 	</mvc:interceptors>

	<!-- 支持上传文件 -->
	<bean id="multipartResolver"  class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>
</beans>